<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Rate Movie</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div id="mainheadfull">MOVIE RATING PREDICTION</div>
</head>

<body>
  
 <div class="login" id="logbox">
    <form action="{{ url_for('predict')}}" name="inputform" method="post" enctype="multipart/form-data">
      <input type="text" name="movietext" placeholder="How was the movie?" id="movietext" />
      <p id="importwav">OR: Import Voice WAV </p>
      <input type="file" name="file" id="audiorecord" accept=".wav" capture="microphone"/>
      <br></br>
      <button  type="submit" id="submitbutton"  >PREDICT</button>
    </form>

   <br>

   {{ prediction_text }}

 </div>


</body>
</html>
