<!DOCTYPE html>
<html >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Rate Movie</title>
  <link rel="icon" href="{{ url_for('static', filename='img/app_icon.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div id="mainheadfull">MOVIE RATING PREDICTION</div>
</head>

<body>
  
 <div class="login" id="logbox">
    <form action="{{ url_for('predict')}}" name="inputform" method="post" enctype="multipart/form-data">
      <input type="text" placeholder="How was the movie?" id="movietext" class="speech-input"  name="eng-input" required/>
	  
	  
                       
   
					
					<div id ='interface'>
						<br><br/>
						<div>OR</div>
                        <br><br/>
						<div id="info">
						<p id="info_start">CLICK TO START RECORDING</p>
						<p id="info_speak_now" style="display:none">CLICK TO STOP RECORDING</p>
						<p id="info_no_speech" style="display:none">NO MIC WAS DETECTED</a>.</p>
						<p id="info_no_microphone" style="display:none">NO MIC WAS DETECTED</p>
						<p id="info_allow" style="display:none">ALLOW THE USE OF MICROPHONE FOR AUDIO INPUT</p>
						<p id="info_denied" style="display:none">PERMISSION DENIED TO USE MICROPHONE</p>
						<p id="info_blocked" style="display:none">PERMISSION DENIED TO USE MICROPHONE</p>
						<p id="info_upgrade" style="display:none">AUDIO INPUT IS NOT SUPPORTED BY THIS BROWSER. OPEN THE WEBSITE ON CHROME</p>
						</div>
						<br><br/>
					     <div id='btn'>
						<a id="start_button" onclick="startButton(event)" class='w3-button'>
							<img alt="Start" id="start_img"
								src="//google.com/intl/en/chrome/assets/common/images/content/mic.gif">
						</a>
						</div>
						<br></br>
					</div>
					
				
  
	 




      <button  type="submit" id="submitbutton" >PREDICT</button>
    </form>

   <br>

   {{ prediction_text }}

   <br/>
   <br/>
   <br/>


				<div class="footer-social-icons">
					<h4 id="follow">Made with &#10084;&#65039; by Adittya Dey</h4>
					<ul class="social-icons">
						<li><a href="https://www.facebook.com/adittya.dey.3" target="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.linkedin.com/in/adittya-dey-3966b916b/" target="_blank" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
						<li><a href="https://github.com/adiXcodr/rate_movie" target="_blank" class="social-icon"> <i class="fa fa-github"></i></a></li>
					</ul>
					</div>


 </div>
 <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
